<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/wide.css'
      media="only screen and (min-width: 530px) and (min-device-width: 481px)" />
    <link rel='stylesheet' type="text/css" href='/stylesheets/smartphone.css'
      media="only screen and (max-width: 480px)" />
  </head>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
        <%if(!session.user) {%>
          <span class="right"><a href="/user">Sign up</a> - <a href="/login">Login</a></span>
        <%}else{%>
          <span class="right"><%=session.user.username%> - <a href="/users/<%=session.user.id%>/edit">Settings</a> - <a href="/logout">Logout</a></span>
        <%}%>
        <h2>Quiz<span>: el juego de las preguntas</span></h2>
      </header>
      <nav class="main" id="n1" align="left">
        <span align="left"><a href="/">Inicio</a></span>
        <span align="left"><a href="/quizes">Preguntas</a></span>
        <span align="left"><a href="/author">Autor</a></span>
        <span align="left"><a href="/quizes/statistics">Estadísticas</a></span>
        <%if(session.user){%>
          <span align="left"><a href="/users/<%=session.user.id%>/quizes">Mis&nbsp;Preguntas</a></span>
          <span align="left"><a href="/users/<%=session.user.id%>/favourites">Favoritos</a></span>
        <%}%>
        <span>
          <form method='get' action='/quizes'>
            <p>
              <input id="busquedas" type='text' name='search'>
              <input type="submit" value="Buscar">
            </p>
          </form>
        </span>
      </nav>
      <section class="main" id="s1">
        <%if(errors.length){%>
          <span id="ErrorMsgs">
            Corregir errores: <br>
            <%for(var i in errors) {%>
              <span><%=errors[i].message%></span><br>
            <%}%>
          </span>
        <%}%>
        <div><%-body%></div>
      </section>

 <footer class="main" id="f1">
   <a href="https://github.com/mequiza/MEC_Quizz_2015">
     Visita mi proyecto en GitHub</a>
   <a href="http://es.wikipedia.org/wiki/Quiz">
     ¿Qué es un Quiz?</a>
 </footer>
 </div>
</body>
</html>
