<h2>Estadísticas</h2><p>
 <div align="left">
 <dl id="lista_estadisticas">
   <dt>- Número total de Preguntas<%= estadistica.quizzesTot %></dt>
   <dd>&nbsp;&nbsp;&nbsp;- Preguntas con comentarios<%= estadistica.quizzesComment %></dd>
   <dd>&nbsp;&nbsp;&nbsp;- Preguntas sin comentarios<%= estadistica.quizzesNoComment %></dd>
   <dt>- Número total de comentarios<%= estadistica.commentsTot %></dt>
   <dd>&nbsp;&nbsp;&nbsp;- Comentarios publicados<%= estadistica.commentsPub %></dd>
   <dd>&nbsp;&nbsp;&nbsp;- Comentarios no publicados<%= estadistica.commentsNoPub %></dd>
   <dt>- Promedio de coment. por pregunta<%= estadistica.commentsAverage1 %></dt>
   <dd>&nbsp;&nbsp;&nbsp;- Promedio de coment. publicados por pregunta<%= estadistica.commentsAverage2 %></dd>
</dl>
</div>
